{% extends "main.html" %}
{% block content %}
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<script>

function signInCallback(authResult) {
  if (authResult['code']) {
    $('#signinButton').attr('style', 'display: none');
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      data: authResult['code'],
      success: function(result) {
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/countries";
         }, 4000);
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  }); }
}
</script>


<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Country Catalog App</h1>
  <p class="lead">Please login with OAuth 2.0</p>
  <hr class="my-4">
  <div>
    <a href="#" role="button" id="signinButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="397305429123-2c9i8mu5ofta12clionhg2opnkasksq8.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </a>
    <div id="result"></div>
  </div>
</div>

{% endblock %}
